body{
  font-family: 'Merriweather', serif;

}
ul{
  background-color: #CC0068
}
li{
  display: inline-block;
  padding: 20px;
  list-style: none;
}
a{
  color: whitesmoke;
  text-decoration: none;
  padding: 10px;
}
a:hover{
  color: black;
}
span{
  color: black;
  margin: 0 100px;
}
